//Variables and assignment operators
$buttoncolor: rgb(210, 105, 30);
$titlefont: 'Calibri', sans-serif;
$display: flex , grid; //SCSS List
$positions: relative, absolute, fixed;
$font-weight: bolder;